//begin boss
.boss
  .container
    //begin slogan
    .boss__slogan.boss-slogan
      .quotes-1.boss-slogan__text We are setting a new quality standard in our field, incorporating modern technologies and maximum patient-centered care.
    //end slogan

    //begin banner
    .boss__banner.boss-banner
      .boss-banner__content
        .overline.boss-banner__subtitle PD Dr. med. Dr. med. dent.
        h2.h1.boss-banner__title Johann Malina
        .body-1.boss-banner__text Your uniqueness, our expertise. Aligning your needs with professionalism. Each case, ailment, deformity, and aesthetic desire is unique. This defines our work. We'll create a tailored plan after analyzing.
        a(href="/").btn.btn--white Contact Us
      .boss-banner__image
        img(src="assets/img/boss.png", alt="boss")
    //end banner
//end boss