//begin partners
.partners
  .container
    //begin header
    .partners__header
      .partners__subtitle.overline Valued Relationships
      .h1.partners__title Our Partners
      .body-1.partners__text We take pride in collaborating exclusively with industry leaders, showcasing a commitment to excellence.
    //end header

    //begin slider
    .partners__slider.partners-slider#partners-slider
      .swiper-wrapper
        .swiper-slide.partners-slider__slide
          .partners-slider__slide-inner
            img.partners-slider__image(src="assets/img/partners/partner-01.svg" alt="Partner")
        .swiper-slide.partners-slider__slide
          .partners-slider__slide-inner
            img.partners-slider__image(src="assets/img/partners/partner-02.svg" alt="Partner")
        .swiper-slide.partners-slider__slide
          .partners-slider__slide-inner
            img.partners-slider__image(src="assets/img/partners/partner-03.svg" alt="Partner")
        //.swiper-slide.partners-slider__slide
          .partners-slider__slide-inner
            img.partners-slider__image(src="assets/img/partners/partner-04.svg" alt="Partner")
        .swiper-slide.partners-slider__slide
          .partners-slider__slide-inner
            img.partners-slider__image(src="assets/img/partners/partner-05.svg" alt="Partner")
    //end slider
//end partners