//begin treatments-hero
.treatments-hero
  .container
    h1.h1.treatments-hero__title Schnarchen Muss Nicht Sein
    .treatments-hero__banner
      .treatments-hero__round
        img(src="assets/img/round-01.svg" alt="decorative round")
      .treatments-hero__banner-img
        picture
          source(media="(min-width: 1024px)", srcset="assets/img/treatments-hero@2x.jpg")
          source(srcset="assets/img/treatments-hero.jpg")
          img(src="assets/img/treatments-hero.jpg", alt="Image")
      .treatments-hero__banner-text
        .quotes-2 Möglichkeiten bei Schlafatmungsstörungen
//end treatments-hero