//begin footer
.footer
  .container
    //begin footer__top
    .footer__top.footer-top
      a(href="/").footer-top__logo
        img(src="assets/img/logo.png" alt="logo")
      .footer-top__text
        .body-1 Clinic Profilance ist eine führende Klinik im Bereich Mund, Kiefer und Gesicht. Sie bietet in Zürich Fluntern ihren Patienten aller Altersgruppen persönliche Lösungen sowohl bei funktionellen und ästhetischen Fragen als auch bei Schlafapnoe.
    //end footer__top

    //begin footer__middle
    .footer__middle.footer-middle
      //begin footer-middle__left
      .footer-middle__left
        //begin footer-middle__item
        .footer-middle__item
          h4.h4.footer-middle__title Treatments
          ul.footer-middle__list
            li.footer-middle__list-item
              a(href="/").menu Aesthetic surgery
            li.footer-middle__list-item
              a(href="/").menu Teeth
            li.footer-middle__list-item
              a(href="/").menu Facial Feminisation
            li.footer-middle__list-item
              a(href="/").menu Snoring & Sleep Apnoea
            li.footer-middle__list-item
              a(href="/").menu Jaw joints
            li.footer-middle__list-item
              a(href="/").menu Infections
            li.footer-middle__list-item
              a(href="/").menu Dysgnathia
            li.footer-middle__list-item
              a(href="/").menu Reconstructive surgery
            li.footer-middle__list-item
              a(href="/").menu Tumours
        //end footer-middle__item
        //begin footer-middle__item
        .footer-middle__item
          h4.h4.footer-middle__title About
          ul.footer-middle__list
            li.footer-middle__list-item
              a(href="/").menu Team
            li.footer-middle__list-item
              a(href="/").menu Values
            li.footer-middle__list-item
              a(href="/").menu Partners
            li.footer-middle__list-item
              a(href="/").menu Membership
            li.footer-middle__list-item
              a(href="/").menu Health Insurance/Costs
            li.footer-middle__list-item
              a(href="/").menu International Patients
            li.footer-middle__list-item
              a(href="/").menu Workflow
            li.footer-middle__list-item
              a(href="/").menu Partner Clinics
            li.footer-middle__list-item
              a(href="/").menu Glossary
        //end footer-middle__item
      //end footer-middle__left

      //begin footer-middle__right
      .footer-middle__right
        .footer-middle__item
          h4.h4.footer-middle__title Contact
          a(href="mailto:clinic@profilance.ch").body-1.footer-middle__link clinic@profilance.ch
          a(href="tel:+41447975005").body-1.footer-middle__link +41 44 797 50 05

          a(href="#").btn Book Now

          a(href="/" target="_blank" rel="nofollow noopener noreferrer").body-1.footer-middle__link Ärztehaus Fluntern<br>Zürichbergstrasse<br>70 8044 Zürich
          .body-1.footer-middle__schedule Montag bis Freitag:<br>von 08:00 bis 18:00<br>Samstag: auf Anfrage
      //end footer-middle__right
    //end footer__middle

    //begin footer__bottom
    .footer__bottom.footer-bottom
      .footer-bottom__left
        //begin item
        .footer-bottom__item.footer-bottom__item--copyright
          .menu © 2023 – All rights reserved.
        //end item

        //begin item
        .footer-bottom__item.footer-bottom__item--agreement
          a(href="/" target="_blank").menu Impressum
          a(href="/" target="_blank").menu Datenschutz
        //end item

      //begin item
      .footer-bottom__item.footer-bottom__item--social
        .footer-bottom__social-links
          .footer-bottom__social-link
            +svg('fb')
          .footer-bottom__social-link
            +svg('ln')
          //-.footer-bottom__social-link
            +svg('soc')
      //end item
    //end footer__bottom
//end footer

include ../elements/share