*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $mont;
  font-size: 16px;
  line-height: 1.38;
  color: $primary-green;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 10px 0;
}

a {
  transition: color .3s ease-in-out;
  text-decoration: none;
  color: $primary-white;

  &:hover {
    color: $secondary-buff;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

input,
textarea,
select,
button {
  outline: none;
}

textarea {
  resize: none;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.main {
  flex-grow: 1;
  padding-top: 85px;

  @include min(768) {
    padding-top: 110px;
  }

  &.overflow {
    overflow: hidden;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;

  @include min(768) {
    padding: 0 32px;
  }
  @include min(1024) {
    padding: 0 64px;
  }
  @include min(1440) {
    padding: 0 80px;
  }
}

.main {
  ol {
    margin: 0;
    padding: 0 0 0 44px;
    list-style: none;

    @include counter(li);

    li {
      position: relative;
      margin-bottom: 18pçx;
      padding-top: 6px;

      &::before {
        font-family: $mont;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 1;
        position: absolute;
        top: 0;
        left: -44px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        text-align: center;
        color: $primary-gold;
        border: 1px solid $primary-gold;
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }
}

.main {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      margin-bottom: 16px;
      padding-left: 17px;

      &::before {
        position: absolute;
        top: 10px;
        left: 0;
        width: 5px;
        height: 5px;
        content: '';
        border-radius: 1px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
