*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $mont;
  font-size: 16px;
  line-height: 1.38;
  color: $primary-green;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 10px 0;
}

a {
  transition: color .3s ease-in-out;
  text-decoration: none;
  color: $primary-white;

  &:hover {
    color: $secondary-buff;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

input,
textarea,
select,
button {
  outline: none;
}

textarea {
  resize: none;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.main {
  flex-grow: 1;

  &.overflow {
    overflow: hidden;
  }
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @include min(768) {
    padding: 0 32px;
  }
  @include min(1024) {
    padding: 0 64px;
  }
  @include min(1440) {
    padding: 0 80px;
  }
}
