.h1,
.h2,
.h3,
.h4 {
  font-family: $oswald;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: $primary-green;
}

.h1 {
  @include responsive-font(56, 42);
}

.h2 {
  @include responsive-font(42, 33);
}

.h3 {
  @include responsive-font(31, 28);
}

.h4 {
  font-weight: 400;

  @include responsive-font(27, 21);
}

.overline {
  font-family: $mont;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.body-1 {
  font-family: $mont;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
}

.body-2 {
  font-family: $mont;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
}

.quotes-1 {
  font-family: $oswald;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;

  @include responsive-font(38, 31);
}

.quotes-2 {
  font-family: $oswald;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;

  @include responsive-font(28, 21);
}

.links {
  font-family: $mont;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

.menu {
  font-family: $mont;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

.button {
  font-family: $mont;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}

.post,
.article__right {
  h1,
  h2,
  h3,
  h4 {
    font-family: $oswald;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    margin-bottom: 24px;

    @include min(1024) {
      margin-bottom: 32px;
    }
  }

  h1 {
    @include responsive-font(56, 42);
  }

  h2 {
    @include responsive-font(42, 33);
  }

  h3 {
    @include responsive-font(31, 28);
  }

  h4 {
    font-weight: 400;

    @include responsive-font(27, 21);
  }

  p {
    font-family: $mont;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    margin-bottom: 24px;

    @include min(1024) {
      margin-bottom: 32px;
    }
  }
}

.article__right {
  h1,
  h2,
  h3,
  h4 {
    color: $primary-gold;
  }

  p {
    color: $primary-white;
  }

  li {
    &::before {
      background-color: $primary-gold;
    }
  }
}

.article__right,
.treatments__right {
  a {
    text-decoration: underline;
    color: inherit;

    &:hover {
      color: $primary-gold;
    }
  }
}

/* begin OL */
.article__right,
.treatments__right {
  ol {
    margin: 0 0 24px 0;
    padding: 0 0 0 44px;
    list-style: none;

    @include counter(li);

    li {
      position: relative;
      margin-bottom: 18px;
      padding-top: 6px;

      p {
        margin-bottom: 0;
      }

      &::before {
        font-family: $mont;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 1;
        position: absolute;
        top: 0;
        left: -44px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        text-align: center;
        color: $primary-gold;
        border: 1px solid $primary-gold;
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }
}

/* end   OL */

/* begin UL */
.article__right,
.treatments__right {
  ul {
    margin: 0 0 24px 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      margin-bottom: 16px;
      padding-left: 17px;

      p {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        top: 10px;
        left: 0;
        width: 5px;
        height: 5px;
        content: '';
        border-radius: 1px;
        background-color: $primary-gold;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* end   UL */
