// ===== primary colors =====
$primary-green: #004348;
$primary-gold: #c08c5f;
$primary-white: #fff;

// ===== secondary colors =====
$secondary-buff: #dcb187;
$secondary-desert-sand: #e8cdb4;
$secondary-platinum: #d2d9d7;
$secondary-black: #000;
$secondary-body-text-1: #636a6a;

// ===== typography =====
$barlow: 'Barlow Condensed', sans-serif;
$mont: 'Montserrat', sans-serif;
