// ===== primary colors =====
$primary-green: #004348;
$primary-gold: #C08C5F;

// ===== secondary colors =====
$secondary-buff: #DCB187;
$secondary-desert-sand: #E8CDB4;
$secondary-platinum: #D2D9D7;

// ===== typography =====
$barlow: 'Barlow Condensed', sans-serif;
$mont: 'Montserrat', sans-serif;