extends ../_template

mixin item(title, image)
  //begin services-item
  a(href="/").services-item
    .services-item__image
      img(src="assets/img/service-" + image + ".jpg" alt=title)
    .h3.services-item__title-sm= title
  //end services-item

block variables
  - let title       = 'Profilance'
  - let description = ''
block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main
      .error
        //begin services
        .services
          .container
            //begin services-item--double
            .services-item.services-item--double
              .services-item__content
                .overline.services-item__subtitle 404
                .h1.services-item__title This page<br> doesn't exist.
                .body-1.services-item__text Lorem ipsum dolor sit amet consectetur. Pellentesque dui in rutrum est ullamcorper hac adipiscing tempor. Sed tellus purus leo sed amet massa magna habitant eu.
                a.btn(href="/").btn.btn--outline-dark Back to Home
            //end services-item--double

            +item('Nasenchirurgie', '01')
            +item('Fehlbisse, Kieferchirurgie', '02')
            +item('Kiefergelenks-beschwerden', '03')
            +item('Korrektur von Unfallfolgen', '04')
            +item('Schnarchen, Schlafapnoe', '05')
            +item('Kieferknochen-Entzündungen', '06')
            +item('Allgemeine Gesichtschirurgie', '07')
            +item('Minimalinvasive Kosmetik', '08')

            //begin services-item--double
            .services-item.services-item--double
              .services-item__content
                .overline.services-item__subtitle Book a Consultation
                .h1.services-item__title Unveil your new look. Consult with us today.
                button.btn Book Appointment
            //end services-item--double
        //end services

    //end content
    include ../sections/footer
    include ../sections/scripts
