extends ../_template

block variables
  - let title       = 'Profilance'
  - let description = ''

mixin itemNew(title)
  a(href="/").blog__item.blog-item.blog-item--new
    .blog-item__label New
    .blog-item__content
      .h4.blog-item__title= title
      .body-1.blog-item__text Atemaussetzer als entscheidender Hinweis auf Schlafapnoe
      .blog-item__btn
        +svg('arr-45')

mixin item(title)
  a(href="/").blog__item.blog-item
    .blog-item__content
      .h4.blog-item__title= title
      .body-1.blog-item__text Atemaussetzer als entscheidender Hinweis auf Schlafapnoe
      .blog-item__btn
        +svg('arr-45')

mixin itemImage(img, title)
  a(href="/").blog__item.blog-item.blog-item--image
    .blog-item__label New
    .blog-item__img
      img(src="assets/img/blog/blog-" + img + ".jpg", alt=title)
    .blog-item__content
      .h4.blog-item__title= title
      .body-1.blog-item__text Atemaussetzer als entscheidender Hinweis auf Schlafapnoe
      .blog-item__btn
        +svg('arr-45')

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main
      .blog
        .container
          //begin header
          .blog__header
            h1.h1.blog__title FAQ and Articles
          //end header
          //begin body
          .blog__body
            .blog__list
              +itemNew('Wann ist Schnarchen gefährlich?')
              +item('Wann ist Schnarchen gefährlich?')
              +itemImage('01', 'Wann ist Schnarchen gefährlich?')
              +item('Wann ist Schnarchen gefährlich?')
              +itemImage('02', 'Wann ist Schnarchen gefährlich?')
              +item('Wann ist Schnarchen gefährlich?')
              +itemImage('03', 'Wann ist Schnarchen gefährlich?')
              +item('Wann ist Schnarchen gefährlich?')
          //end body

    //end content
    include ../sections/footer
    include ../sections/scripts
