extends ../_template

block variables
  - let title       = 'Profilance'
  - let description = ''

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main
      .contacts
        .container
          //begin left
          .contacts__left
            .contacts__item
              .overline.contacts__subtitle Have a question?
              h1.h1.contacts__title Contact Us
              .body-1 Would you like Clinic Profilance to contact you by telephone? With pleasure! Please fill out the following form and we will get back to you as soon as possible.
              a(href="tel:+00000" class="btn btn--primary").btn Please call us
              .body-1 You also have the option to do your booking online. For our online reservation system, please click here: 
              a(href="/").btn.btn--primary Book appointment
          //end left
          //begin right
          .contacts__right
            //begin item
            .contacts__item
              h4.h4.contacts__title Clinic Profilance
              .contacts__links
                a(href="/" target="_blank" rel="nofollow noopener noreferrer").contacts__link Ärztehaus Fluntern<br>Zürichbergstrasse<br>70 8044 Zürich
                a(href="mailto:clinic@profilance.ch").contacts__link clinic@profilance.ch
                a(href="tel:+41447975005").contacts__link +41 44 797 50 05
            //end item
            //begin item
            .contacts__item
              h4.h4.contacts__title Öffnungszeiten
              .body-1 Montag bis Freitag:<br>von 08:00 bis 18:00<br>Samstag: auf Anfrage
            //end item
            // begin contacts__item-lg
            .contacts__item-lg
              h4.h4.contacts__title Anfahrt Und Lage
              .body-1 
                | We maintain an appreciative collaboration with numerous colleagues, with the shared patients always being the focus. They benefit from interdisciplinary collaboration and regular case discussions (quality circles) about high-quality, personalized therapy concepts. Data security is guaranteed with encrypted communication channels such as HIN or EPD (
                a(href="mailto:johannmalina@hin.ch") johannmalina@hin.ch
                |).
              button.btn.btn--outline-gold Assign now
               
            // end contacts__item-lg
            // begin contacts__item-lg
            .contacts__item-lg
              h4.h4.contacts__title How to get here
              ul.contacts-item__list 
                li Our policlinic is centrally located in Zurich, directly in the Fluntern medical center at Zürichbergstrasse 70.
                li You can reach us in just a few minutes from Bürkliplatz/Bellevue with tram line 5, or from Zurich Main Station / Central with tram line 6, or by bus 33 or 751. The “Kirche Fluntern” stop is directly in front of the building.
                li If you arrive by car, you can use the Vorderberg car park (vis-à-vis) or the short-term parking zone (nearby area).          
            // end contacts__item-lg



          //end right

      .contacts__map#map
    //end content
    include ../sections/footer
    include ../sections/scripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE_7BZuKg3TaYOi1Gjr1K1f0KlytfVJVo&callback=initMap" async defer)
    //script(src="https://maps.googleapis.com/maps/api/js?key=" + "API_KEY" + "&callback=initMap" async defer)
    script.
      let map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: 47.37631481191956,
            lng: 8.560088237121237
          },
          zoom: 13,
          maxZoom: 19,
          minZoom: 10,
          styles: [{
            "featureType": "all",
            "elementType": "labels.text.fill",
            "stylers": [{ "color": "#004348" }, { "visibility": "on" }, { "saturation": 0 }]
          }, {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [{ "color": "#dcb187" }, { "visibility": "on" }, { "saturation": 0 }]
          }, {
            "featureType": "landscape",
            "elementType": "geometry",
            "stylers": [{ "color": "#f3e6d9" }, { "visibility": "on" }, { "saturation": 0 }]
          }, {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [{ "color": "#f3e6d9" }, { "visibility": "on" }, { "saturation": 0 }]
          }, {
            "featureType": "transit",
            "elementType": "geometry",
            "stylers": [{ "color": "#c08c5f" }, { "visibility": "on" }, { "saturation": 0 }]
          }, {
            "featureType": "water",
            "elementType": "",
            "stylers": [{ "color": "#004348" }, { "visibility": "on" }, { "saturation": 0 }]
          }, {
            "featureType": "all",
            "elementType": "labels.icon",
            "stylers": [{ "visibility": "off" }]
          }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }] }]
        });

        let marker = new google.maps.Marker({
          // Определяем позицию маркера
          position: {
            lat: 47.37631481191956,
            lng: 8.560088237121237
          },
          map: map,
          title: 'Profilance',
          icon: 'assets/img/marker.png',
        });
      }
