extends ../_template

block variables
  - let title       = 'Profilance'
  - let description = ''
block content
  .main-wrap.no-js
    //include ../sections/header

    //begin content
    main.main
      .glossary
        .container
          //begin glossary__header
          .glossary__header
            .overline.glossary__subtitle knowledge base
            h1.h1.glossary__title Medical Glossary
          //end glossary__header
          include ../sections/glossary/gloss-filter
          include ../sections/glossary/gloss-content
          include ../sections/glossary/gloss-banner
    //end content
    include ../sections/footer
    include ../sections/scripts
