extends ../_template

block variables
  - let title       = 'Profilance'
  - let description = ''

  - let breadcrumbs     = 'breadcrumbs link'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main
      include ../sections/index/boss
      include ../sections/index/parnters
    //end content
    include ../sections/footer
    include ../sections/scripts
