extends ../_template

block variables
  - let title       = 'Profilance'
  - let description = ''

block content
  .main-wrap.no-js
    include ../sections/header
    //begin content
    main.main
      //begin post
      .post
        //begin header
        .post__header
          .container
            a(href="/").article__header-back
              +svg('arr-left')
              .overline.article__subtitle ALL ARTICLES
            h1.h1.post__header-title Wann ist Schnarchen gefährlich?
            .post__header-subtitle Atemaussetzer als entscheidender Hinweis auf Schlafapnoe
        //end header

        .container
          //begin treatments__left
          .treatments__left
            .treatments-left
              //begin menu
              .treatments-left__menu
                .overline.treatments-left__menu-title table of contents
                nav.treatments-left__nav
                  ul.treatments-left__nav-list
                    li.treatments-left__nav-item
                      a.treatments-left__nav-link.menu(href="#section-01") Ursachenanalyse im Schlaflabor
                    li.treatments-left__nav-item
                      a.treatments-left__nav-link.menu(href="#section-02") Konservative Behandlung mit Schienen (Zungenschrittmacher)
                    li.treatments-left__nav-item
                      a.treatments-left__nav-link.menu(href="#section-03") Operative Behandlung von Schlafapnoe (Unterkiefer-Osteotomie)
                    li.treatments-left__nav-item
                      a.treatments-left__nav-link.menu(href="#section-04") Häufige Fragen unserer PatientInnen
                    li.treatments-left__nav-item
                      a.treatments-left__nav-link.menu(href="#section-05") Glossar
              //end menu
              a(href="/").treatments-left__share
                +svg('share')
          //end treatments__left

          //begin treatments__right
          .treatments__right
            //begin treatments-section-01
            .treatments-section#section-01
              //begin text-block
              .treatments-section__text-block
                .treatments-section__item
                  .treatments-section__quote
                    .treatments-section__quote-text Während gelegentliches Schnarchen für die meisten Menschen harmlos ist, können wiederholte Atemaussetzer ein Zeichen für eine ernsthafte Erkrankung sein. Wenn Sie Bedenken hinsichtlich Ihres Schnarchens haben, suchen Sie medizinischen Rat. Ein rechtzeitiges Erkennen und Behandeln von obstruktiver Schlafapnoe (OSA) kann nicht nur Ihre Schlafqualität, sondern auch Ihre allgemeine Gesundheit erheblich verbessern.
                  p Viele Menschen schnarchen – manche leise und kaum wahrnehmbar, andere so laut, dass es das ganze Haus aufweckt. Schnarchen ist oft ein Gegenstand von Scherzen, doch wann sollte man es ernst nehmen? Als Kieferchirurg möchte ich dieses Thema näher beleuchten und klären, wann Schnarchen gefährlich werden kann.
              //end text-block
            //end treatments-section-01

            //begin treatments-section-02
            .treatments-section#section-02
              .treatments-section__text-block
                h2 Schnarchen kann viele Ursachen haben
                p Das Schnarchen entsteht, wenn der Luftstrom durch den Mund und den Rachen beim Atmen während des Schlafs behindert wird. Dies führt dazu, dass das umliegende Gewebe in Schwingung gerät und das typische Schnarchgeräusch erzeugt. Es gibt Faktoren, die das Schnarchen begünstigen: Übergewicht, Alkoholkonsum vor dem Schlafengehen, Rückenlage beim Schlafen - oder organische Ursachen wie verengte Atemwege.
              //begin img
              .treatments-section__img
                picture
                  source(media="(min-width: 1024px)", srcset="assets/img/treatment-01@2x.jpg")
                  source(srcset="assets/img/treatment-01.jpg")
                  img(src="assets/img/treatment-01.jpg", alt="Image")
              //end img
            //end treatments-section-02

            //begin treatments-section-03
            .treatments-section#section-03
              .treatments-section__text-block
                h2 Wann wird es kritisch?
                p Das gelegentliche Schnarchen ist meistens harmlos. Doch wenn das Schnarchen von Atempausen begleitet wird, kann dies ein Anzeichen für eine obstruktive Schlafapnoe (OSA) sein. Bei OSA kollabiert das weiche Gewebe im Rachen wiederholt und blockiert die Atemwege. Diese Atemaussetzer können von einigen Sekunden bis zu mehreren Minuten dauern.
                p Schlafapnoe schädigt den Körper auf verschiedene Weise:
                ol
                  li OSA verursacht Sauerstoffmangel: Während der Atemaussetzer bekommt der Körper nicht genügend Sauerstoff, was zu Herz-Kreislauf-Erkrankungen und Bluthochdruck führen kann.
                  li Die Atemaussetzer stören den Schlaf, führen zu häufigem Erwachen und verhindern, dass man in die tieferen, erholsamen Schlafphasen gelangt. Die Folgen sind oft Tagesmüdigkeit, Konzentrationsprobleme und ein erhöhtes Unfallrisiko.
                  li Unbehandelte (oder unerkannte) Schlafapnoeerhöht die langfristigen Gesundheitsrisiken der Patienten, weil sie die Entstehung vonStoffwechselkrankheiten wie zum BeispielDiabetes begünstigen kann.
            //end treatments-section-03

            //begin treatments-section-04
            .treatments-section#section-04
              .treatments-section__text-block
                h2 Im Zweifelsfall zum Arzt gehen
                p Wenn Sie oder Ihr Partner bzw. Ihre PartnerinAtempausen während des Schlafs bemerken, ist es wichtig, ärztlichen Rat einzuholen. In unserem Schlaflabor können wir die genaue Ursache und Schwere der Erkrankung feststellen. Abhängig von der Diagnose kommen unterschiedliche Behandlungen in Betracht: die Veränderungen des Lebensstils, ein Einsatz von Schnarchschienen, Verwendung einer CPAP-Maschine, oder die operative Beseitigung der Ursache.
            //end treatments-section-04

            //begin treatments-section-05
            .treatments-section#section-05
              .treatments-section-tags-wrapper
                .treatments-section-tags-title.overline Die Erklärungen zu wichtigen Fachbegriffen finden Sie in unserem Glossar:
                .treatments-section-tags
                  a(href="/").treatments-section-tag.menu Warum ist die CPAP-Maske keine gute Lösung?
                  a(href="/").treatments-section-tag.menu Warum schnarche ich?
                  a(href="/").treatments-section-tag.menu Wann ist Schnarchen gefährlich?
                  a(href="/").treatments-section-tag.menu Ist die Schnarch-OP sehr schmerzhaft?
                  a(href="/").treatments-section-tag.menu Übernimmt die Krankenkasse die Behandlungskosten?
                  a(href="/").treatments-section-tag.menu Unterkiefer-Osteotomie?
                  a(href="/").treatments-section-tag.menu Was erwartet mich als Patient bei einer?
                  a(href="/").treatments-section-tag.menu Wie erfolgreich ist Schlafapnoe-Operation?
                  a(href="/").treatments-section-tag.menu Wo findet der Eingriff statt?
            //end treatments-section-05
          //end treatments__right
      .post-banner
        .container
          include ../sections/glossary/gloss-banner-white
      //end post
    //end content
    include ../sections/footer
    include ../sections/scripts
