extends ../_template

block variables
  - let title       = 'Profilance'
  - let description = ''

block content
  .main-wrap.no-js
    include ../sections/header
    //begin content
    main.main
      include ../sections/treatments/treatments-hero
      include ../sections/treatments/treatments-content
    //end content
    include ../sections/footer
    include ../sections/scripts
