/* begin section 4 */
.treatments-section__questions {
  margin-bottom: 40px;
  background-color: $secondary-almond;
  padding: 40px 16px;
  @include min(768) {
    padding: 40px 32px;
  }

  @include min(1024) {
  border-radius: 16px;
    padding: 40px;
    margin-bottom: 56px;
  }
}

.treatments-section__questions-title {
  margin-bottom: 24px;
  color: $primary-gold;
  @include min(1024) {
  margin-bottom: 32px;

  }
}

.treatments-section__questions-text {
  span {
    padding-right: 8px;

    &:nth-child(even) {
      color: $primary-gold;
    }
  }
}

/* end   section 4 */
