/* begin section 4 */
.treatments-section__questions {
  margin-bottom: 40px;
  padding: 40px 16px;
  background-color: $secondary-almond;

  @include min(768) {
    padding: 40px 32px;
  }
  @include min(1024) {
    margin-bottom: 56px;
    padding: 40px;
    border-radius: 16px;
  }
}

.treatments-section__questions-title {
  margin-bottom: 24px;
  color: $primary-gold;

  @include min(1024) {
    margin-bottom: 32px;
  }
}


.treatments-section__questions-text {
  a {
    margin-right: 8px;
    transition: all .3s ease-in-out;
    color: $primary-green;

    &:hover {
      background-color: rgba(192, 140, 95, .4);
    }

    &:nth-child(even) {
      color: $primary-gold;
    }
  }
}

/* end   section 4 */
