/* begin SECTION 1 */
.treatments-section__double-image-wrapper {
  @include min(1024) {
    padding-right: 30px;
  }
}

.treatments-section__double-image {
  overflow: hidden;
  width: calc(100% - 8px);
  height: 300px;
  border-radius: 16px;

  @include min(768) {
    height: 400px;
  }
  @include min(1024) {
    width: calc(100% - 40px);
    height: 500px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.treatments-section__double-text {
  margin-top: -260px;
  margin-left: 16px;
  padding: 290px 16px 24px 24px;
  border-radius: 16px;
  background-color: $secondary-almond;

  @include min(768) {
    margin-top: -360px;
    padding: 390px 24px 24px 24px;
  }
  @include min(1024) {
    margin-top: -460px;
    margin-left: 40px;
    padding: 508px 56px 56px 56px;
  }
}

/* end   SECTION 1 */
