.article {
  padding-bottom: 40px;
  background-color: $primary-green;
  background-image: url('../img/decor-glossary.svg');
  background-repeat: no-repeat;
  background-position: 100% 0;

  @include min(1024) {
    padding-bottom: 80px;
  }
}

.article__header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.article__header-back {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &:hover {
    svg {
      fill: $primary-white;
    }

    .article__subtitle {
      color: $primary-white;
    }
  }

  svg {
    flex: none;
    fill: $primary-gold;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    transition: fill .3s ease;
  }
}

.article__subtitle {
  transition: color .3s ease;
  color: $primary-gold;
}

.article__title {
  overflow: hidden;
  margin-bottom: 0;
  text-overflow: ellipsis;
  color: $primary-white;

  @include min(1024) {
    max-width: 70%;
  }
}

.article__simple-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.article__simple-list-item {
  position: relative;
  margin-bottom: 16px;
  padding-left: 17px;

  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 5px;
    content: '';
    border-radius: 1px;
    background-color: $primary-gold;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.article {
  //h1,
  //h2,
  //h3,
  //h4 {
  //  font-family: $barlow;
  //  font-weight: 500;
  //  font-style: normal;
  //  line-height: 1;
  //  color: $primary-white;
  //}
  //
  //h1 {
  //  @include responsive-font(64, 48);
  //}
  //
  //h2 {
  //  @include responsive-font(48, 40);
  //}
  //
  //h3 {
  //  @include responsive-font(36, 32);
  //}
  //
  //h4 {
  //  font-weight: 400;
  //
  //  @include responsive-font(32, 24);
  //}
}