.blog {
  padding-bottom: 70px;
  background-color: $secondary-almond;
}

.blog__header {
  padding-top: 88px;
  padding-bottom: 80px;
}

.blog__title {
  margin-bottom: 0;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;

  @include min(640) {
    width: calc(100% + 8px);
  }
}

.blog-item {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  min-height: 470px;
  margin-bottom: 8px;
  padding: 12px;
  transition: all .3s ease;
  border-radius: 16px;
  background-color: $secondary-desert-sand;

  @include min(640) {
    width: calc(50% - 8px);
    margin-right: 8px;
  }
  @include min(1024) {
    width: calc(33.33% - 8px);
  }
  @include min(1200) {
    width: calc(25% - 8px);
  }

  &:hover {
    background-color: $primary-white;

    .blog-item__btn {
      background-color: rgba(232, 205, 180, .30);
    }
  }
}

.blog-item__label {
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 4px 12px 3px 12px;
  text-align: center;
  color: $primary-white;
  border-radius: 8px 0;
  background-color: $primary-gold;
}

.blog-item__img {
  overflow: hidden;
  width: 100%;
  height: 176px;
  border-radius: 8px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.blog-item__content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 12px 12px 12px;
}

.blog-item__title {
  margin-bottom: 24px;
  color: $primary-green;
}

.blog-item__text {
  margin-bottom: 24px;
  color: $secondary-body-text-1;
}

.blog-item__btn {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-top: auto;
  margin-left: auto;
  transition: all .3s ease;
  border-radius: 50%;
  background: rgba(255, 255, 255, .60);

  svg {
    width: 20px;
    height: 20px;
  }
}

.blog-item--new {
  background-color: $primary-green;

  &:hover {
    background-color: #01393d;

    .blog-item__btn {
      background-color: rgba(255, 255, 255, .60);
    }
  }

  .blog-item__title {
    color: $primary-gold;
  }

  .blog-item__text {
    color: $primary-white;
  }

  .blog-item__btn {
    background-color: rgba(255, 255, 255, .60);
  }
}

.blog-item--image {
  background-color: $primary-white;

  .blog-item__btn {
    background-color: rgba(232, 205, 180, .30);
  }

  &:hover {
    background-color: $secondary-desert-sand;

    .blog-item__btn {
      background: rgba(255, 255, 255, .60);
    }
  }

  .blog-item__content {
    padding-top: 40px;
  }

  .blog-item__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
