.post {
  padding-top: 50px;
  padding-bottom: 40px;
  background: $secondary-almond;

  @include min(1024) {
    padding-bottom: 80px;
  }

  .container {
    display: flex;

    @include min(1024) {
      background-image: url('../img/decor-light.svg');
      background-repeat: no-repeat;
      background-position: 0 200px;
    }
  }

  .article__title {
    color: $primary-gold;
  }

  svg {
    fill: $primary-gold;
  }

  .gloss-banner {
    background-color: $primary-white;
    background-image: url('../img/decor.svg');

    @include min(1024) {
      background-image: url('../img/bg-gloss-banner-mob-light.jpg');
    }
    @include min(1200) {
      background-image: url('../img/bg-gloss-banner-light.jpg');
    }
  }
}

.post__header {
  padding-bottom: 40px;

  @include min(1024) {
    padding-bottom: 80px;
  }

  .container {
    display: block;
  }
}

.post__header-title {
  margin-bottom: 24px;
}

.post__header-subtitle {
  font-family: $barlow;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
  color: $secondary-buff;

  @include responsive-font(32, 24);
}

//.post-banner {
//  background: $secondary-almond;
//}
