//begin gloss__content
.gloss__content.gloss-content
  //begin item
  .gloss-content__item
    .h1.gloss-content__item-letter A
    .gloss-content__item-links
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
  //end item
  //begin item
  .gloss-content__item
    .h1.gloss-content__item-letter B
    .gloss-content__item-links
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
  //end item
  //begin item
  .gloss-content__item
    .h1.gloss-content__item-letter C
    .gloss-content__item-links
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
  //end item
  //begin item
  .gloss-content__item
    .h1.gloss-content__item-letter D
    .gloss-content__item-links
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
  //end item
  //begin item
  .gloss-content__item
    .h1.gloss-content__item-letter E
    .gloss-content__item-links
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
  //end item
  //begin item
  .gloss-content__item
    .h1.gloss-content__item-letter F
    .gloss-content__item-links
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
  //end item
  //begin item
  .gloss-content__item
    .h1.gloss-content__item-letter G
    .gloss-content__item-links
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
      a(href="/").links.gloss-content__item-link Schlafapnoe-Implantat (Zungenschrittmacher)
  //end item

//end gloss__content