//begin banner
.gloss-banner
  .gloss-banner__content
    h2.h2.gloss-banner__title Have questions about our service?
    .body-1.gloss-banner__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sin.
    button.btn Book Appointment
//end banner