//begin banner
.boss__banner.boss-banner
  .boss-banner__content
    h2.h1.boss-banner__title Have questions about our service?
    .body-1.boss-banner__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sin.
    button.btn Book Appointment
  .boss-banner__image
    img(src="assets/img/boss-white.jpg" alt="boss")
//end banner